<div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="contactModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="contactModalLabel">🚀 Заявка на Діагностику Starlink</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="text-center">Заповніть форму, і наш фахівець зв'яжеться з вами для уточнення деталей.</p>
                
                {% include 'contact_form.html' %} 
                
            </div>
        </div>
    </div>
</div>
